nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}
nav h1{
    color: var(--black);
}
#namecnt{
  width: 30vw;
  height: 2vw;
}

.btn{
    display: flex;
    gap:2rem;
}
.resume {
    padding: 5px 12px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 34px;
    background-color: var(--lightblue);
    color: whitesmoke;
}
.resume:hover {
    background-color: var(--red);
    scale: 1.1;
}
.button {
  cursor: pointer;
  position: relative;
  padding: 5px 12px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 34px;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--midblue);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: whitesmoke;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}


/* media queries */
@media (max-width:480px) {
  nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #namecnt{
    text-align: center;
    width: 100%;
    height: 2rem;
    margin-left: 5px;
  }
  .btn{
    margin-top: 1rem;
    display: flex;
  }
}